# Ignore the output files being generated
out

# Ignore the distribution folder
dist

# Ignore installed node modules
node_modules

# Ignore VSCode test folders and files
.vscode-test/

# Ignore Visual Studio Code extensions
*.vsix

# Ignore all files in mock-server/uploads/
mock-server/uploads/*

# But keep the .gitkeep file
!mock-server/uploads/.gitkeep